<div id="tv_admin_container" class="well">
  <form autocomplete="off" id="pumukitnewadmin_series_updatepub_form"
	    action="{{ path('pumukitnewadmin_series_update_series_pub', {'id': series.id}) }}" method="POST">
	<input type="hidden" name="series_id" id="series_id" value="{{ series.id }}">
    <div class="row">
      <div class="col-md-6">
	    <div>
          <span id="remember_save_series_pub" class="alert alert-dismissable alert-danger" style="display:none;">{% trans %}Press OK for changes to take effect{% endtrans %}</span> &nbsp;
        </div>
      </div>
      <div class="col-md-6 text-right">
        <button id="pumukitnewadmin_series_updatepub_cancel" type="button" class="btn btn-default btn-raised">{% trans %}Cancel{% endtrans %}</button>
        <button type="submit" class="btn btn-pumukit btn-raised" onclick="return procesaOk();">{% trans %}OK{% endtrans %}</button>
      </div>
    </div>
	<fieldset>
      <div class="col-md-5">
	    <div class="form-group" id="pumukitnewadmin_series_pub_channel">
	      <label for="pub" class="control-label">{% trans %}Publication Channels{% endtrans %}</label>
	      <div id="list_pub_{{ series.id }}">
	        {% include 'PumukitNewAdminBundle:Series:listpub.html.twig' with {'series': series, 'pubs': pub_channels, 'pub_type': 'channels'} %}
	      </div>
        </div>
	    <div class="form-group" id="pumukitnewadmin_series_pub_decision">
	      <label for="announce_label" class="control-label">{% trans %}Publishing Decisions{% endtrans %}</label>
	      <div id="list_pubdecisions_{{ series.id }}">
	        {% include 'PumukitNewAdminBundle:Series:listpub.html.twig' with {'series': series, 'pubs': pub_decisions, 'pub_type': 'decisions'} %}
	      </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
