<div class="widget slidebar stats">
    <div id="total" class="widget_stats">
        <h3 class="stats-title text-left">
            <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
            {% trans %}Stats{% endtrans %}
        </h3>
        <div class="row row-stats-circle">
            <div class="col-xs-4">
                <div class="stats-circle center-block stats-series">
                    <div>
                        <strong>{{ counts.series }}</strong>
                    </div>
                    <div class="stats-label">{% trans %}Series{% endtrans %}</div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="stats-circle center-block stats-mms">
                    <div>
                        <strong>{{ counts.mms }}</strong>
                    </div>
                    <div class="stats-label">{% trans %}Videos{% endtrans %}</div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="stats-circle center-block stats-hours">
                    <div>
                        <strong>{{ counts.hours }}</strong>
                    </div>
                    <div class="stats-label">{% trans %}Hours{% endtrans %}</div>
                </div>
            </div>
        </div>
    </div>
</div>